.modal-create-plan{
    position: absolute;
    min-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100 !important;
    opacity:initial;
}

.modal-container{
    position: fixed;
    top: 0 ;
    left: 0 ;
    width: 100%;
    height: 100%;
    background-color: rgba(180, 180, 180, 0.7);
    z-index: 10 ;
    opacity: 1;
}

.edit-plan-icon{
  color:darkblue;
  margin-left:5px;
}

.edit-plan-icon:hover{
  color:mediumslateblue;
  cursor: pointer;
}

.delete-plan-icon{
  margin-left: 5px;
}

.delete-plan-icon:hover{
  color:red;
  cursor: pointer;
}

.show-modal{
    display: "block";
}

.hide-modal{
    display: none;
}

.hide-plan{
  display: none !important;
}
/* -------------LOADING------------------- */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading svg {
    font-size: 5px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    animation: text 10s ease-in-out infinite;
  }
  
  @keyframes text {
    50% {
      opacity: 0.1;
    }
  }
  
  .loading polygon {
    stroke-dasharray: 22;
    stroke-dashoffset: 1;
    animation: dash 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
      alternate-reverse;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 234;
    }
  }

